@media print {
    .form-section {
        display: inline !important
    }

    .form-pagebreak {
        display: none !important
    }

    .form-section-closed {
        height: auto !important
    }

    .page-section {
        position: initial !important
    }
}

@import '//fonts.googleapis.com/css?family=Bentham:light,lightitalic,normal,italic,bold,bolditalic';

.form-label-left {
    width: 100px;
}

.form-line {
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-label-right {
    width: 100px;
}

body,
html {
    margin: 0;
    padding: 0;
    background: rgba(39, 38, 38, 0.56);
}

.form-all {
    margin: 0px auto;
    padding-top: 0px;
    width: 800px;
    color: rgb(255, 255, 255) !important;
    font-family: 'Times New Roman';
    font-size: 18px;
}

.form-radio-item label,
.form-checkbox-item label,
.form-grading-label,
.form-header {
    color: false;
}

/* Injected CSS Code */
.form-label.form-label-auto {

    display: inline-block;
    float: left;
    text-align: left;

}

/*PREFERENCES STYLE*/
.form-all {
    font-family: Times New Roman, sans-serif;
}

.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-family: Times New Roman, sans-serif;
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-family: Times New Roman, sans-serif;
}

.form-header-group {
    font-family: Times New Roman, sans-serif;
}

.form-label {
    font-family: Times New Roman, sans-serif;
}

.form-label.form-label-auto {

    display: inline-block;
    float: left;
    text-align: left;

}

.form-line {
    margin-top: 2px;
    margin-bottom: 2px;
}

.form-all {
    width: 800px;
}

.form-label-left,
.form-label-right,
.form-label-left.form-label-auto,
.form-label-right.form-label-auto {
    width: 100px;
}

.form-all {
    font-size: 18px
}

.form-all .qq-upload-button,
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
    font-size: 18px
}

.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
    font-size: 18px
}

.supernova .form-all,
.form-all {
    background-color: rgba(39, 38, 38, 0.56);
    border: 1px solid transparent;
}

.form-all {
    color: rgb(255, 255, 255);
}

.form-header-group .form-header {
    color: rgb(255, 255, 255);
}

.form-header-group .form-subHeader {
    color: rgb(255, 255, 255);
}

.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
    color: rgb(255, 255, 255);
}

.form-sub-label {
    color: 1a1a1a;
}

.supernova {
    background-color: rgb(255, 255, 255);
}

.supernova body {
    background: transparent;
}

.form-textbox,
.form-textarea,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
    background-color: rgba(255, 255, 255, 0.83);
}

.supernova {
    height: 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: center top;
}

.supernova {
    background-image: url("https://www.jotform.com/uploads/EltonCris/form_files/sunset-hair.jpg");
}

#stage {
    background-image: url("https://www.jotform.com/uploads/EltonCris/form_files/sunset-hair.jpg");
}

.form-all {
    background-image: none;
}

.ie-8 .form-all:before {
    display: none;
}

.ie-8 {
    margin-top: auto;
    margin-top: initial;
}